dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

#LaTeX Beamer
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
